@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: black;
    background-color: maroon;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: maroon;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2.5rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 4rem;
    list-style: none;
}

.navbar-container .navbar-menu.active {
    display: flex;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    padding: 5px 5px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
    color: black;
    background-color: maroon;
    border: 2px solid maroon;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65vh;
  background-image: url('images/background.jpg');
  background-position: center;
  background-size: cover;
}

.home .konten h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  text-shadow: 8px 8px 12px black;
}

.home .konten p {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-shadow: 8px 8px 12px black;
}

.bord {
  border: 8px solid black;
  margin: 20px;
  background-color: white;
}

.Menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px;
}

.TextMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  margin: 20px;
  border: 5px solid black;
}

.ListMenu {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid black;
  padding: 10%;
}

.ListMenu img {
  justify-content: center;
  align-items: center;
  width: 100%;

}

.ListMenu h3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
}

.ListMenu  p {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.5rem;
}

.Worker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px;
}

.ListWorker {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid black;
  padding: 50px;
}

.WorkerImage {
  justify-content: center;
  align-items: center;
  width: 100%;

}

.ListWorker h3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
}
.ListWorker p {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.foot {
  background-color: white;
}

.footer {
    background: maroon;
    padding: 20px;
    text-align: center;
}

.footer-text {
    color: white;
    font-size: 2rem;
    letter-spacing: 0.5px;
}


@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
    
    .container{
      gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

@media(max-width: 880px){
  .navbar {
    backdrop-filter: none;
    position: fixed;
  }
  
  .navbar-container .navbar-menu {
    display: none;
    flex-direction: column;
    align-self: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 60px;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0 0 0 0.5);
    backdrop-filter: blur(10px);
  }

  .navbar-container .navbar-menu li a {
    color: black;
  }
  
  .navbar-toggle {
    display: block;
    z-index: 999;
  }
  
  .navbar-toggle.active .bar:nth-child(2) {
  opacity: 0;
  }
  .navbar-toggle.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  }
  .navbar-toggle.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  }
  
}

/** Responsif Layout **/
@media(max-width: 2000px) {

  .navbar-container .navbar-menu li a {
    font-size: 3.5rem;
  }

  .home .konten h1 {
    font-size: 4rem;
  }
  
  .home .konten p {
    padding: 0px 10px;
    font-size: 2.5rem;
  }

  .ListMenu h3 {
    margin: 15px 0px;
    font-size: 3.5rem;
  }

  .ListMenu p {
    font-size: 2.5rem;
  }

  .WorkerImage {
    width: 50%;
  }
}

@media(max-width: 1500px) {

  .navbar-container .navbar-menu li a {
    font-size: 3rem;
  }

  .home .konten h1 {
    font-size: 5rem;
  }
  
  .home .konten p {
    padding: 0px 10px;
    font-size: 2.3rem;
  }

  .ListMenu h3 {
    margin: 15px 0px;
    font-size: 3.5rem;
  }

  .ListMenu p {
    font-size: 2.5rem;
  }

  .WorkerImage {
    width: 50%;
  }
}

@media(max-width: 1200px) {

  .navbar-container .navbar-menu li a {
    font-size: 2.5rem;
  }

  .home {
    margin: 0;
  }

  .home .konten h1 {
    font-size: 5rem;
  }
  
  .home .konten p {
    padding: 0px 10px;
    font-size: 1.6rem;
  }

  .ListMenu h3 {
    font-size: 3rem;
  }

  .ListMenu P {
    font-size: 2rem;
  }

  .WorkerImage {
    width: 50%;
  }
}

@media(max-width: 768px) {
  .home {
    margin: 0;
  }

  .home .konten h1 {
    font-size: 3.5rem;
  }
  
  .home .konten p {
    font-size: 1.5rem;
  }

  .ListMenu h3 {
    font-size: 2.4rem;
  }

  .ListMenu p {
    font-size: 2rem;
  }

  .WorkerImage {
    width: 100%;
  }
}

@media(max-width: 600px) {
  .Menu {
    grid-template-columns: 1fr;
  }

  .Worker {
    grid-template-columns: 1fr;
  }

  .WorkerImage {
    width: 50%;
  }

  .home {
    margin: 0;
  }

  .home .konten h1 {
    font-size: 3rem;
  }
  
  .home .konten p {
    font-size: 1.5rem;
  }

  .ListMenu h3 {
    font-size: 2.5rem;
  }

  .ListMenu p {
     font-size: 2rem;
  }

}
