@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
}

header{
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: black;
    background-color: maroon;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: maroon;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 4rem;
    list-style: none;
}

.navbar-container .navbar-menu.active {
    display: flex;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: black;
    font-size: 4rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
    color: black;
    background-color: maroon;
    border: 2px solid maroon;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;
    transition: all 0.3s ease-in-out;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 65vh;
  background-image: url('images/background.jpg');
  background-position: center;
  background-size: cover;
}

.home .konten h1 {
  text-align: center;
  font-size: 10rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  text-shadow: 8px 8px 12px black;
}

.home .konten p {
  text-align: center;
  font-size: 6rem;
  font-weight: 700;
  color: white;
  text-shadow: 8px 8px 12px black;
}

.bord {
  border: 8px solid black;
  margin: 20px;
  background-color: white;
}

.Menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px;
}

.TextMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10rem;
  margin: 20px;
  border: 15px solid black;
}

.ListMenu {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 15px solid black;
  padding: 10%;
}

.ListMenu img {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ListMenu h3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10rem;
}

.ListMenu  p {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4.5rem;
}

.Worker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 40px;
}

.ListWorker {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 15px solid black;
  font-size: 5rem;
  padding: 50px;
}

.WorkerImage {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.ListWorker h3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10rem;
}
.ListWorker p {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5rem;
}

.foot {
  background-color: white;
}

.footer {
    background: maroon;
    padding: 20px;
    text-align: center;
}

.footer-text {
    color: white;
    font-size: 10rem;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 450px) {
    .navbar-container {
      padding: 0 1rem;
    }
    .navbar-logo {
      font-size: 4rem;
    }
    .navbar-container .navbar-menu li a {
        font-size: 3rem;
        padding: 5px 15px;
        top: 25px;
    }
}

@media screen and (min-width: 450px) {
  .navbar-container {
    padding: 0 1rem;
  }
  
  .navbar-logo {
    font-size: 2rem;
  }
  
  .navbar-container .navbar-menu li a {
    font-size: 3rem;
    padding: 5px 15px;
    top: 50px;
  }
    
  .home .konten h1 {
    font-size: 3rem;
  }
  
  .home .konten p {
    font-size: 2rem;
  }
  
  .TextMenu {
    font-size: 5rem;
    border: 5px solid black;
  }
  
  .Menu {
    grid-template-columns: 1fr;
  }
  
  .ListMenu {
    border: 5px solid black;
    flex-wrap: wrap;
  }
  
  .ListMenu img {
    width: 80%;
    height: 80%;
  }
  
  .ListMenu h3 {
    font-size: 2.5rem;
  }
  
  .ListMenu p {
    font-size: 1.5rem;
  }
  
  .Worker {
    grid-template-columns: 1fr;
  }
  
  .ListWorker {
    border: 5px solid black;
    flex-wrap: wrap;
  }
  
  .WorkerImage {
    height: 50%;
    width: 50%;
  }
  
  .ListWorker h3 {
    font-size: 3rem;
  }
  
  .ListWorker p{
    font-size: 2rem;
  }
  
  .footer-text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 750px) {
  .navbar {
    padding: 6rem;
  }
  
  .navbar-logo {
    font-size: 5rem;
  }
  
  .navbar-container .navbar-menu li a {
    font-size: 4.5rem;
    color: white;
  }
  
  .home .konten h1 {
    font-size: 8rem;
  }
  
  .home .konten p {
    font-size: 4.5rem;
  }
  
  .TextMenu {
    font-size: 6rem;
    border: 10px solid black;
  }
  
  .Menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .ListMenu {
    border: 10px solid black;
    flex-wrap: wrap;
  }
  
  .ListMenu img {
    width: 80%;
    height: 80%;
  }
  
  .ListMenu h3 {
    font-size: 5rem;
  }
  
  .ListMenu p {
    font-size: 3rem;
  }
  
  .Worker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .ListWorker {
    border: 10px solid black;
    flex-wrap: wrap;
  }
  
  .WorkerImage {
    height: 50%;
    width: 50%;
  }
  
  .ListWorker h3 {
    font-size: 5rem;
  }
  
  .ListWorker p{
    font-size: 4.5rem;
  }
  
  .footer-text {
    font-size: 5rem;
  }
}

@media screen and (max-width: 800px) {
    .navbar {
        backdrop-filter: none;
        position: fixed;
    }
    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-self: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 50px;
        right: 0;
        box-shadow: 0 10px 10px rgba(0 0 0 0.5);
        background-color: white;
    }
    .navbar-toggle {
      display: block;
      z-index: 999;
    }
      
    .navbar-toggle.active .bar:nth-child(2) {
      opacity: 0;
    }
    
    .navbar-toggle.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    
    .navbar-toggle.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
}